* {
    font-family: 'Roboto Mono';
}

h1 {
    text-align: center;
    font-size: 2.7em;
}

main {
    display: flex;
    width: 70vw;
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

form {
    /* margin: auto; */
    width: fit-content;
}

legend {
    background-color: black;
    color: white;
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 6px;
}

fieldset {
    /* position: relative; */
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 12px;
    width: fit-content;
}

input {
    margin: 0.5em;
}

input:focus {
    outline: none!important;
    font-weight: bolder;
}

input[type='text'] {
    width: 10em;
    border: 2px solid;
    border-radius: 6px;
    /* accent-color: orange; */
}

select {
    border: 2px solid;
    border-radius: 6px;
}

input[type='radio'] {
    accent-color: orange;
}

.underlined-button {
    font-size: 12pt;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    padding: 12px 24px;
    color: orange;
    text-decoration: underline;
    border: 2px white solid;
    border-radius: 12px;
    transition: border 1s ease-out 100ms;
    width: 50%;
    margin: auto;
}

.underlined-button:hover {
    border: 2px orange solid;
    border-radius: 12px;

}

.outlined-button {
    font-size: 12pt;
    color: black;
    padding: 12px 24px;
    border: 2px black solid;
    border-radius: 12px;
    transition: background-color 1s ease-out 100ms;
    width: 50%;
    margin: auto;
}

.outlined-button:hover {
    background-color: orange;
}

.h-flexbox {
    display: flex;
    /* margin: auto; */
    gap: 1em;
    /* align-content: baseline; */
}

.invalid {
    color: red;
    background-color: orange;
    accent-color: orange;
    font-weight: bolder;
}

#results-popup {
    display: none;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

td {
    outline: 2px solid black;
    text-align: center;
    padding: 4px;
}

th {
    text-align: center;
    font-size: 12px;
}

.vertical-text {
    /* writing-mode: vertical-lr; */
    transform: rotate(-90deg);
    margin: 0;
    padding: 0;
}

.good {
    background-color: green;
    color: white;
}

.bad {
    background-color: orange;
    color: red;
    font-weight: bold;
}

.pos {
 background-color: yellow;
 color: black;
}

.neg {
    background-color: blue;
    color: white;
}

.small-corr {
    background-color: aqua;
}

.one-corr {
    background-color: orange;
    color: black;
}

#barchart_values {
    margin: 0;
}

li {
    padding: 0.25em;
}

li ul li {
    font-size: 14px;
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #999;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    z-index: 2;
}

#results-popup {
    text-align: center;
    display: none;
	position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	background: white;
	width: fit-content;
	height: fit-content;
	z-index: 200;
}

#popup-close {
    float: right;
	padding: 10px;
	cursor: pointer;
}

.popup-content {
    padding: 2em;
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    main {
        max-width: 100vw;
        margin: auto;
    }

    h1 {
        font-size: 2em;
    }

    form {
        font-size: 12px;
    }

    .h-flexbox {
        flex-direction: column;
    }

    .underlined-button, .outlined-button {
        max-width: fit-content;
    }
}